#shopheader {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 30%;
  margin-left: 1rem;
}

#shopheader h1 {
  font-size: 2rem;
}

#shopheader p {
  margin-top: 10%;
  font-size: 0.9rem;
}

#product-list {
  margin-left: 1rem;
}

#product-list a {
  width: 40%;
}

article img {
  width: 90%;
}

.single-product {
  margin-left: 10%;
  margin-top: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.info {
  align-items: left;
  padding: 0;
  margin-top: 0;
}

.info h2 {
  margin-top: 3%;
  margin-bottom: 0%;
}

.info p {
  margin-top: 2%;
  margin-bottom: 10%;
}

@media screen and (min-width: 800px) {
  main {
    margin-left: 0%;
  }

  #shopheader {
    text-align: center;
    margin-bottom: 3rem;
  }

  #shopheader h1 {
    font-size: 3rem;
  }

  #shopheader p {
    margin-top: 0%;
    margin-left: 25%;
    width: 50%;
    font-size: 1rem;
  }

  #product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 4rem;
    justify-content: space-around;
    margin-left: 10rem;
    margin-right: 7rem;
    margin-bottom: 5rem;
  }

  #product-list a {
    width: 40%;
  }

  article img {
    width: 100%;
  }

  .single-product {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info {
    padding: 0;
    margin-top: 0;
  }

  #shopheader {
    margin-top: 0%;
  }
}
