@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
:root {
  --primary-font: "Raleway", sans-serif;
}
main {
  margin: 2rem;
}

/* #product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
} */

.product-img {
  width: 100%;
}

.info {
  margin-bottom: 30%;
  width: 100%;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
}

#add {
  font-family: var(--primary-font);
  color: white;
  background-color: #0c4e6b;
  margin-top: 4%;
  font-size: 1rem;
  padding: 4.5%;
  border: none;
  border-radius: 0.5rem;
}

#add:hover {
  text-decoration: underline;
}

#header_size {
  font-size: 2.2rem;
}

@media screen and (min-width: 800px) {
  #product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
  }

  .product-img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    width: 100%;
  }

  #header_size {
    margin-bottom: 10%;
  }

  .info {
    margin-top: 10%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
    padding-right: 0%;
    width: 100%;
  }

  .name {
    margin-left: 10%;
  }

  .price {
    margin-left: 10%;
  }

  .description {
    font-size: 0.95rem;
    margin-left: 10%;
  }

  button {
    margin-left: 10%;
  }

  #add {
    font-family: var(--primary-font);
    color: white;
    background-color: #0c4e6b;
    margin-top: 4%;
    font-size: 1rem;
    padding: 3%;
    border: none;
    border-radius: 0.5rem;
  }

  #add:hover {
    text-decoration: underline;
  }

  .price {
    margin-top: 5%;
  }

  /* body {
    width: 100%;
  } */
}
